@import "./abstracts/functions.scss"; 
@import "./abstracts/varibales.scss";

//Font Family Import 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700&display=swap');

* {

   
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
}


// #header {

//     background-color:green;
//     // margin-right: get-vw($desktop-context, 10px);
//     // margin-right: get-vw($mobile-context, 10px)

// }

#header {

    border: #FF6060 solid 1px;
}

#header {

    

    h1 {

        color: red;
    }

    i {
        display: inline-block;
     
      }
      
      .icon {
     
        mask: url("../assets/svg/logo.svg");
        -webkit-mask: url("../assets/svg/logo.svg");
        width: 210.32px;
        height: 68px;
        mask-size: 68px;
        -webkit-mask-size: 210.32px;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        background-color: #FF6060;
      }

  .navbar {

    display: flex;
    align-items: center;
   padding: 30px;
   justify-content: space-between;

    ul {
       display: flex;
       gap: 1.5rem;
       list-style: none;
       align-items: center;

       a{

        text-decoration: none;
        color: #FF6060;
       }
       a:hover{

        text-decoration:underline;

       }
       
    }



  }

}

.banner {
    padding: 30px;
    margin-left: 30px;
    margin-right: 30px;
    max-width: 1240px;
    max-height: 223px;
    min-height: 223px;
    border-radius: 25px;
    background-image: url("../assets/images/home_banner.png");
    background-position: center center;
    background-size: cover; 
    text-align: center;
    color: #FFFFFF;
    position: relative;
    display: grid;
    place-items: center;
    
  
}
.banner::before {

    content: "";
    border-radius: 25px;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.25);
}

.banner h1 {
    position: relative;
    opacity: 1;
    font-weight: 550;
   
}



