//Font Family Import 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700&display=swap');

//For responsive
@import "./abstracts/functions.scss"; 
@import "./abstracts/varibales.scss";

//Layout
@import "./layout/header.scss";
@import "./layout/_error";


//components
@import "./components/banner";
@import "./components/card";
@import "./components/footer";
@import "./components/dropdown";
@import "./pages/accommodation.scss";




* {

   
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0px !important;
    box-sizing: border-box;
    padding: 10px;
    
    
    li {
         list-style: none;
    }
   

    
}









