.error {

    color: #FF6060;
    text-align: center;

    h1 {
        font-size: 288px;
    }

    p {

        font-size: 36px;
        margin-bottom: 100px;
    }

    a {
        font-size: 18px;
        text-decoration: none;
        color: #FF6060;
        margin-bottom: 200px;
        display: block;
        text-decoration: underline;
    }
    }

    @media screen and (max-width: 425px) { 

    .error h1 {
        font-size: 96px;
        margin-top: 40%;

    }

    .error p {

        font-size: 18px;
        padding: 0 52px 0 52px !important;
    }

    .error a {

        font-size: 14px;
    }

    }
