.cardbox {

    background-color: #F6F6F6;

    max-width: 1240px;
    margin-left: 6.94%;
    margin-right: 6.94%;
    min-height: 40vh;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem !important;
    justify-content: space-between;
    border-radius: 25px;




    .card {

        background-image: linear-gradient(to top, #863535, #ff6060); 
        border-radius: 1rem; 
        flex-basis: 30%; 
        display: grid;
        align-items: end; 
        min-width: 200px;
        min-height: 200px;


    }



}

@media screen and (max-width: 720px) {

    .card {
        flex-basis: 100% !important;
    }
    
}

@media screen and (max-width: 768px) {
    .cardbox {

        justify-content: center; 
        background-color: white;
        padding: 0;
    

    }

}


