.boxdescription {


   border: solid black 1px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 33px;
    margin-right: 208px;
    margin-left: 208px;



    & h2 {

        font-size: 24px;
        background:  #FF6060;
        color: white;
        border-radius: 5px;
        padding: 5px!important;
        font-weight:normal; 
        position: relative;

     & .up {

    position: absolute;
    left: 96.76%;
    right: 1.86%;
    top: 8.74%;
    bottom: 78.3%;
    background: #FFFFFF;
    transform: rotate(90deg);
    // background-image: url("../../assets/svg/dropdown.svg")
    mask: url("../../assets/svg/dropdown.svg");
    -webkit-mask: url("../../assets/svg/dropdown.svg");
    width: 14.06px;
    height: 23.86px;
    mask-size: 30.44px;
    -webkit-mask-size: 14.06px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: white;




}
    }

    & p {

        color: #FF6060;
        padding: 30px 27px 19px 18px !important;
        font-size: 24px;
        background: #F6F6F6;
        border-radius: 5px;

    }

}