.boxdescription {

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr);
    grid-column-gap: 0px;
    grid-row-gap: 33px;
    margin-right: 14.44%;
    margin-left: 14.44%;
    margin-bottom: 128px;
}


.dropdown {
    & h2 {

        font-size: 24px;
        background: #FF6060;
        height: 47px;
        color: white;
        border-radius: 5px;
        padding: 5.61px 0 7.39px 18.08px !important;
        font-weight: normal;
        position: relative;

        &.collapse+p,
        &.collapse+ul {
            display: none;
        }

        &.expand+p,
        &.expand+ul {
            display: block;
        }

        &.expand .up {

            transform: rotate(-180deg);
            top: -17.26% !important;
        }

        & .up {

            position: absolute;
            right: 1.86%;
            top: 1.74%;
            bottom: 78.3%;
            background: #FFFFFF;
            margin-top: 16px;
            // background-image: url("../../assets/svg/dropdown.svg")
            mask: url("../../assets/svg/dropup.svg");
            -webkit-mask: url("../../assets/svg/dropup.svg");
            width: 23.56px;
            height: 26.4px;
            mask-size: 30.44px;
            -webkit-mask-size: 24.06px;
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            background-color: white;
        }
    }

    & p {

        color: #FF6060;
        padding: 40px 12px 53px 20px !important;
        font-size: 24px;
        background: #F6F6F6;
        border-radius: 10px;
        height: auto;
    }
}

.dropdown li {
    color: #FF6060;
}

.dropdown p {

    border-radius: 0px 0px 10px 10px;
}

.Accommodation .dropdown p {

    font-size: 18px;

}

.Accommodation .dropdown h2 {
    font-size: 18px;
}

.Accommodation .dropdowncontainer ul {
    border-radius: 0px 0px 10px 10px;
    font-size: 18px;
}

.About .boxdescription .dropdown p {

    padding: 36px 27px 19px 18px;
}




@media screen and (max-width: 425px) {
    .Accommodation .dropdowncontainer {

        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin-top: 4.3%;
    }

    .Accommodation .dropdowncontainer h2 {
        height: 29.93px !important;
        padding: 6.48px 35.49px 5.45px 11.51px !important;

    }

    .Accommodation .dropdown h2 {

        font-size: 13px;
    }
    .About>.boxdescription {

        display: flex;
        flex-direction: column;
    }

    .About .dropdown h2 {

        font-size: 13px;
        height: 29px;
        padding: 5.5px 35.49px 5.46px 11.51px !important;
    }

    .About .up {

        width: 16px !important;
        height: 16px !important;
        -webkit-mask-size: 16px !important;
        top: -17% !important;
        right: 2% !important;
    }

    .dropdown p {

        padding: 23.03px 6.91px 1.3px 11.51px !important;
        font-size: 12px !important;

    }

    .Accommodation .dropdowncontainer ul {

        padding: 23.03px 6.91px 1.3px 11.51px !important;

    }

    .dropdown li {

        font-size: 12px !important;
    }
    .boxdescription {
        grid-row-gap: 20px
    }
}