.boxdescription {

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr);
    grid-column-gap: 0px;
    grid-row-gap: 33px;
    margin-right: 208px;
    margin-left: 208px;
    margin-bottom: 128px;
}


.dropdown {
    & h2 {

        font-size: 24px;
        background: #FF6060;
        height: 47px;
        color: white;
        border-radius: 5px;
        padding: 5.61px 0 7.39px 18.08px !important;
        font-weight: normal;
        position: relative;

        &.collapse+p,
        &.collapse+ul {
            display: none;
        }

        &.expand+p,
        &.expand+ul {
            display: block;
        }

        & .up {

            position: absolute;
            right: 1.86%;
            top: 1.74%;
            bottom: 78.3%;
            background: #FFFFFF;
            margin-top: 16px;
            // background-image: url("../../assets/svg/dropdown.svg")
            mask: url("../../assets/svg/dropup.svg");
            -webkit-mask: url("../../assets/svg/dropup.svg");
            width: 23.56px;
            height: 26.4px;
            mask-size: 30.44px;
            -webkit-mask-size: 24.06px;
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            background-color: white;
        }
    }

    & p {

        color: #FF6060;
        padding: 40px 12px 53px 20px !important;
        font-size: 24px;
        background: #F6F6F6;
        border-radius: 5px;
        height: auto;
    }
}

.dropdown li {
    color: #FF6060;
}