.information {
    margin-left: 6.94%;
    margin-right: 6.94%;
    margin-top: 2%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}


.apartment-info {
    // border: 2px solid red;
    display: grid;
    gap: 1rem;
    width: max-content;
    justify-self: start;
}


.title {
    color: #ff6060;
}


.location {
    margin-top: -2%;
    color: #ff6060;
}


.host-container {
    display: flex;
    flex-direction: column;
    align-items: end;
}


.host-profil {
    // border: 2px solid green;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: max-content;
    height: max-content;
}


.badge {
    height: 64px;
    width: 64px;
    border-radius: 50px;

}


.badge img {
    height: 64px;
    width: 64px;
    border-radius: 50px;
    align-self: flex-end;
    justify-self: end;
    position: relative;
}

.tags-container {

    display: flex;
    gap: 1rem;

}

.tags {
    color: white;
    background-color: #ff6060;
    border-radius: 10px;
    height: 25px;
    text-align: center;
    font-size: 14px;
    padding: 3px 15px !important;
}

.host {

    align-self: center;
}


.host h3 {
    font-size: 18px;
    color: #ff6060;
    width: min-content;
    text-align: right;
}


.star {
    mask: url("../../assets/svg/star.svg");
    -webkit-mask: url("../../assets/svg/star.svg");
    width: 30px;
    height: 30px;
    mask-size: 30px;
    -webkit-mask-size: 30px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    display: inline-block;
}


.star-red {
    background-color: #FF6060;
}


.star-grey {
    background: #E3E3E3;
}