.information {
    margin-left: 6.94%;
    margin-right: 6.94%;
    margin-top: 2%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

@media screen and (max-width: 425px) {
    .information {
      
     display: flex;
     flex-direction: column;

    }
  }
  


.apartment-info {
    // border: 2px solid red;
    display: grid;
    gap: 1rem;
    width: max-content;
    justify-self: start;
}


.title {
    color: #ff6060;
}

.Accommodation .title {
    font-size: 36px;
    font-weight: 500
}


.location {
    margin-top: -2%;
    color: #ff6060;
}


.host-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 1rem;
}

@media screen and (max-width: 425px) {
    .host-container {
      
     display: flex;
     flex-direction: row-reverse;
     justify-content: space-between;
     margin-top: 16px;
     align-items: center;
      
    }
    .host h3 {

        font-size: 12px !important;
    }
  }


.host-profil {  

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 0.5rem; 
}



.badge {
    height: 64px;
    width: 64px;
    border-radius: 50px;

}


.badge img {
    height: 64px;
    width: 64px;
    border-radius: 50px;
    align-self: flex-end;
    justify-self: end;
    position: relative;
}

.tags-container {

    display: flex;
    gap: 1rem;
    flex-wrap: wrap;

}

.tags {
    color: white;
    background-color: #ff6060;
    border-radius: 10px;
    height: 25px;
    font-weight: 500;
    text-align: center;
    font-size: 14px;
    padding: 3px 15px !important;
}

.host {

    align-self: center;
}


.host h3 {
    font-size: 18px;
    color: #ff6060;
    width: min-content;
    text-align: right;
}


.star {
    mask: url("../../assets/svg/star.svg");
    -webkit-mask: url("../../assets/svg/star.svg");
    width: 30px;
    height: 30px;
    mask-size: 30px;
    -webkit-mask-size: 30px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    display: inline-block;
}


.star-red {
    background-color: #FF6060;
}


.star-grey {
    background: #E3E3E3;
}


@media screen and (max-width: 425px) {
    .apartment-info {
      width: fit-content;
    }

    .apartment-info .title {

        font-size: 18px;
        font-weight: 500;
    }

    .apartment-info .location {

        font-size: 14px;
    }

    .badge {

        height: 32px;
        width: 32px;
    }

    .badge img {

        height: 32px;
        width: 32px;
    }

    .tags {

        font-size: 10px;
        height: 24px;
        padding: 5px 15px !important;
        
    }

    .star {

        width: 15px;
        height: 15px;
        -webkit-mask-size: 15px;

    }
  }
  

@media screen and (max-width: 1262px) {

    .information {

        display:flex; 
        justify-content: space-between;
    }

    .rating {

        display: flex;
        flex-wrap: nowrap;
    }

}
@media screen and (min-width: 420px ) and (max-width: 730px) {


    .Accommodation .title {

        font-size: 26px;
    }
    .information {

        flex-direction: column;
    }

    .apartment-info .title {

        max-width: 475px;
    }

    .host-container {

        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-top: 3%;
        margin-bottom: 3%;
        align-items: center;
    }
}